    *{
        margin: 0px;
    }
    body {
        font-family: 'Space Mono', monospace;
        background: black;
        color: white;
    }
    a{
        color: white;
        text-decoration: none;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 90vh;
        column-gap: 20px;
        row-gap: 20px;
        width: 100%;
    }


    /*-----------------------------clock-------------------------------*/

    #clock{
        font-size: 100px;
        font-weight: 700;
    }
    #calender{
        font-size: 30px;
      }

    /*--------------------------------navbar and footer-------------------------*/
      .nav-links{
        display: flex;
        align-items: center;
        column-gap: 50px;
      }
      .fa-headphones-simple{
        color: #bcfd2e;
      }
    .logo{
        font-family: 'Space Mono', monospace;
        font-weight: 900;
    }
    #navbar{
        width: 100%;
        position: fixed;
        padding: 20px;
        height: fit-content;
        background-color: black;
    }
    .nav-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        max-width: 80rem;
    }
    .foot-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      max-width: 80rem;
  }
    .dropdown{
        position: relative;
        width:fit-content;
    }
    .dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 10px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
    .dropdown-content{
        display: none;
        position: absolute;
        z-index: 1;
        border-radius: 10px;
        padding: 20px;
        padding-top: 0px;
    }
    .dropdown-content a {
        
        text-decoration: none;
    }
    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        row-gap: 10px;
        background-color: #333;
        width: 100%;
      }
      .mail{
        width: 24px;
        height: 24px;
      }
      .social{
        display: flex;
        align-items: center;
        column-gap: 10px;
      }
      
      /*---------bulb----------*/

      .bulb-btn{
        padding: 10px;
        background-color: #bcfd2e;
        color: black;
        border: 1px solid #bcfd2e;
        width: 100px;
        border-radius: 5px;
      }
      .bulb-btn :hover {
        background-color: black;
        color: #bcfd2e;
      }
      .bulb-btns{
        display: flex;
        column-gap: 20px;
      }

      /*-------pixel to rem----*/
      .greentxt{
        color: #bcfd2e;
      }
      .pxrem-wrapper{
        display: flex;
      }
      #pixel{
        padding: 20px;
        font-family: 'Space Mono', monospace;
        border-radius: 5px;
      }
      #pxrem{
        padding: 20px;
        font-family: 'Space Mono', monospace;
        font-weight: 600;
        background-color: #bcfd2e;
        border-radius: 5px;
        font-size: 16px;
      }
      select{
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
      }
      #convertbtn{
        padding: 10px;
        font-family: 'Space Mono', monospace;
        background-color: black;
        border: 1px solid #bcfd2e;
        border-radius: 5px;
        color: #bcfd2e;
      }
      #result{
        font-family: monospace;
        font-weight: 900;
        font-size: 20px;
      }

      /*-----Music-----*/
      #music-cover{
        width: 200px;
        height: 200px;
      }
      .music-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
      }
      .music-btn{
        display: flex;
        column-gap: 20px;
      }
      .musicicons{
        width: 50px;
        height: 50px;
      }

      /*MEDIA QUERY*/
      @media only screen 
      and (min-device-width : 320px) 
      and (max-device-width : 768px) {
        .nav-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            max-width: 80rem;
            flex-direction: column;
            row-gap: 10px;
        }
        .foot-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: auto;
          max-width: 80rem;
          flex-direction: column;
          row-gap: 10px;
      }
        #clock{
            font-size: 50px;
        }
        .wrapper{
            row-gap: 20px;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            height: 82vh;
        }
        #navbar{
            padding-left: 0px;
        }
        #pixel{
        width: 80%;
        margin-bottom: 10px;
        }
   }